<% @places.each do |place| %>

  <div class="goodie-box col-10 offset-1">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i><br /><br />
    <i><%= place.pricerange %></i>
    <p><%= place.description %></p><br />
    
    <% if place.user.present? %>
    <small><%= place.user.email %></small>
    <% end %>
    
  </div>
<% end %>